.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-content > div {
    margin-bottom: 8px;
}
.card-content > div:last-child {
    margin-bottom: 0;
}

.entity-spacing:first-child {
    margin-top: 0;
}
.entity-spacing:last-child {
    margin-bottom: 0;
}

.entity-row {
    display: flex;
    align-items: center;
}
.entity-row .name {
    flex: 1;
    margin: 0 6px;
}
.entity-row .secondary {
    color: var(--primary-color);
}
.entity-row .icon {
    flex: 0 0 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}
.gallery {
    display: flex;
    flex-direction: column;
}

.previewPic {
    width: 300px;
    padding-left: 5px;
}

.previewPicContainerSelected {
    border: 1px solid var(--sidebar-selected-icon-color);
}

.smallTabs {
    height: 20px;
}

.iron-selected {
    color: var(--sidebar-selected-icon-color);
}

.fullImage {
    width: 600px;
}

.archivContainer {
    display: flex;
}

.pictureContainer {
    padding-left: 10px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    /* start paper-font-common-nowrap style */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* end paper-font-common-nowrap style */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ha-picture-card-background-color,rgba(0, 0, 0, 0.3)
    );
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    color: var(--ha-picture-card-text-color, white);
}
